<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmr0kiPIJjqkTJUNikpzUZXis-qgjgAZA</string>
	<key>GCM_SENDER_ID</key>
	<string>785469951781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pixelprowess.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pixelprowess69</string>
	<key>STORAGE_BUCKET</key>
	<string>pixelprowess69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785469951781:ios:f4ee2cd8c8be2a86d0d4cc</string>
</dict>
</plist>